@model Hospital_Privado.Models.ConsultoriosModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Consultorio</h2>

<div>
    <h3>Estas a punto de eliminar a un Consultorio, ¿estás seguro de hacerlo?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consultorios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultorios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a href="~/ConsultoriosModels/Index" class="btn" style="background-color:#fd8d0e; color:#fff;">Regresar</a>
            @*Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
