@model Hospital_Privado.Models.DoctoresModels

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar el Doctor</h2>

<div>
    <h4>Estas a punto de eliminar un Doctor ¿Estas seguro de hacerlo?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curp)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a href="~/DoctoresModels/Index" class="btn" style="background-color:#fd8d0e; color:#fff;">Regresar</a>
            @*Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
