@model IEnumerable<Hospital_Privado.Models.AdministradoresModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/My_Bootstrap/css/my_css/tablas.css" rel="stylesheet" />
<h2>Administradores Registrados en la Base de Datos</h2>
<div class="row">
    <img alt="image" class="img-circle" src="~/Content/My_Bootstrap/img/my_img/iconos/admin.png" style="width:90px;" />
</div>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        <a href="~/AdministradoresModels/Create" class="btn btn-primary">Registrar nuevo Administrador</a>
    </div>
</div>
<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Administrador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido_Paterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido_Materno)
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Administrador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Materno)
            </td>
            <td>
                <!--<a href="Edit" id = "item.Id"><img src="~/Content/My_Bootstrap/img/my_img/iconos/edit.png" alt="Alternate Text" style="width:20px;" /></a>
                <a href="Details" id = "item.Id"><img src="~/Content/My_Bootstrap/img/my_img/iconos/delete.png" alt="Alternate Text" style="width:20px;" /></a>
                <a href="Delete" id = "item.Id"><img src="~/Content/My_Bootstrap/img/my_img/iconos/update.png" alt="Alternate Text" style="width:20px;" /></a>-->
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
