@model Hospital_Privado.Models.TipoUsuariosModels

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Detalles del Tipo de Usuario</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-warning" style="color:#000;">@Html.ActionLink("Editar", "Edit", new { id = Model.Id })</button>
    <a href="~/TipoUsuariosModels/Index" class="btn" style="background-color:#ed5666; color:#fff;">Regresar</a>
    @*Html.ActionLink("Back to List", "Index")*@
</p>
