@model Hospital_Privado.Models.RegisterViewModel
@{
    ViewBag.Title = "Regístrate";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <img alt="image" class="img-circle" src="~/Content/My_Bootstrap/img/my_img/iconos/adduser1.png" style="width:90px; margin:auto; display:block" />
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Apellido_Paterno, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Apellido_Materno, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Edad, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Edad, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Fecha_Nacimiento, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Fecha_Nacimiento, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Domicilio, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Domicilio, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Estado, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Estado, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Ciudad, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Ciudad, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Curp, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Curp, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.RolID, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownList("RolID")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" class="btn btn-primary" value="Registrar" />
                <input type="reset" class="btn btn-danger" value="Limpiiar" />
            </div>
        </div>
    </div>






    

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
