@model Hospital_Privado.Models.ConsultasModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Consulta</h2>

<div>
    <h3>Estas a punto de eliminar una Consulta, ¿estás seguro de hacerlo?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consultorios.Consultorios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultorios.Consultorios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctores.Nombre_Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctores.Nombre_Doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laboratorios.Laboratorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laboratorios.Laboratorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios.Servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios.Servicios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Atencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Atencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Atencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Atencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a href="~/ConsultasModels/Index" class="btn" style="background-color:#fd8d0e; color:#fff;">Regresar</a>
            @*Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
