@model Hospital_Privado.Models.ConsultasModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Consulta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consultorios.Consultorios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultorios.Consultorios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctores.Nombre_Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctores.Nombre_Doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laboratorios.Laboratorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laboratorios.Laboratorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios.Servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios.Servicios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Atencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Atencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Atencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Atencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidarAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidarAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button> |
    <a href="~/ConsultasModels/Index" class="btn" style="background-color:#ed5666; color:#fff;">Regresar</a>
    @*Html.ActionLink("Back to List", "Index")*@
</p>
