@model IEnumerable<Hospital_Privado.Models.ConsultasModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/My_Bootstrap/css/my_css/tablas.css" rel="stylesheet" />
<h2>Consultas Registradas en la Base de Datos</h2>
<div class="row">
    <img alt="image" class="img-circle" src="~/Content/My_Bootstrap/img/my_img/iconos/admin.png" style="width:90px;" />
</div>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        <a href="~/ConsultasModels/Create" class="btn btn-primary">Registrar una nueva Consulta</a>
    </div>
</div>

<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>Estatus</th>
        <th>
            @Html.DisplayNameFor(model => model.Consultorios.Consultorios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctores.Nombre_Doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laboratorios.Laboratorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.Nombre_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicios.Servicios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Atencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Atencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string nombresVal = ViewBag.nom;

        if (ViewBag.rol == 1)
        {
            <tr>
                @if (item.Validar == null && item.Calificacion == null)
                {
                    <td style="background-color:#fd9240; color:#fff;">ESPERANDO VALIDACIÓN DE DOCTOR</td>
                }
                else if (item.Validar == 1 && item.Calificacion == null)
                {
                    <td style="background-color:#fdce30; color:#fff;">ESPERANDO CALIFICACION Y COMENTARIOS DEL PACIENTE</td>
                }
                else if (item.Validar >= 1 && item.Calificacion > 0)
                {
                    <td style="background-color:#78fd30; color:#fff;">OK</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Consultorios.Consultorios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctores.Nombre_Doctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Laboratorios.Laboratorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Nombre_Paciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicios.Servicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora_Atencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Atencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else if (nombresVal == item.Doctores.Nombre_Doctor && ViewBag.rol == 2)
        {
            <tr>
                @if (item.Validar == null && item.Calificacion == null)
                {
                    <td style="background-color:#fd9240; color:#fff;">ESPERANDO VALIDACIÓN DE DOCTOR</td>
                }
                else if (item.Validar == 1 && item.Calificacion == null)
                {
                    <td style="background-color:#fdce30; color:#fff;">ESPERANDO CALIFICACION Y COMENTARIOS DEL PACIENTE</td>
                }
                else if (item.Validar >= 1 && item.Calificacion > 0)
                {
                    <td style="background-color:#78fd30; color:#fff;">OK</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Consultorios.Consultorios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctores.Nombre_Doctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Laboratorios.Laboratorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Nombre_Paciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicios.Servicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora_Atencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Atencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else if (nombresVal == item.Pacientes.Nombre_Paciente && ViewBag.rol == 3)
        {
            <tr>
                @if (item.Validar == null && item.Calificacion == null)
                {
                    <td style="background-color:#fd9240; color:#fff;">ESPERANDO VALIDACIÓN DE DOCTOR</td>
                }
                else if (item.Validar == 1 && item.Calificacion == null)
                {
                    <td style="background-color:#fdce30; color:#fff;">ESPERANDO CALIFICACION Y COMENTARIOS DEL PACIENTE</td>
                }
                else if (item.Validar >= 1 && item.Calificacion > 0)
                {
                    <td style="background-color:#78fd30; color:#fff;">OK</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Consultorios.Consultorios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctores.Nombre_Doctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Laboratorios.Laboratorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Nombre_Paciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicios.Servicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora_Atencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Atencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
